<div class="alert alert-danger" ng-show="info">
       {{info}}
</div>
<form role="form">
	<div class="form-group">
		<label>种类名称</label> <input type="text" ng-model="readerKind.name"
			class="form-control">
	</div>
	<div class="form-group">
		<label>可借书数量</label> <input type="text" ng-model="readerKind.quantity"
			class="form-control">
	</div>
	<div class="form-group">
		<label>借书期限</label> <input type="text" ng-model="readerKind.validity"
			class="form-control">
	</div>
	<div class="form-group">
		<label>有效期限</label> <input type="date" ng-model="readerKind.enddate"
			class="form-control">
	</div>
	<div class="form-group">
		<label>备注信息</label> <input type="text" ng-model="readerKind.notice"
			class="form-control">
	</div>
	<button ng-click="save()" class="btn btn-default">保存</button>
</form>
